body {
  /* border: 1px solid red; */
  background-color: rgb(255, 230, 0);
  /* color: white; */
  font-family: Arial, Helvetica, sans-serif;
}

rect {
  fill: white;
  stroke: black;
}

text {
  font-size: 14px;
  /* color: white; */
}

/* .tick text {
 fill: darkgray
} */

.tick line {
  stroke: lightblue;
}

